# InfluxDB 2.7
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=admin123
DOCKER_INFLUXDB_INIT_ORG=stress-platform
DOCKER_INFLUXDB_INIT_BUCKET=k6-stress-tests
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=stress-platform-token

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin123