# ==========================================
# Python / FastAPI
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env.local

# Logs Python
*.log

# SQLite (Later)
*.db
*.sqlite3

# ==========================================
# React / Vite
# ==========================================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ==========================================
# Docker
# ==========================================
.docker/

# ==========================================
# Environment
# ==========================================
.env
.env.*

# Example
!.env.example

# ==========================================
# K6 executions and scripts
# ==========================================
executions/*
!executions/.gitkeep

scripts/*
!scripts/.gitkeep

# ==========================================
# VS Code / IntelliJ
# ==========================================
.vscode/
.idea/
*.iml

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Temporary / Backup / Swap Files
# ==========================================
*.tmp
*.bak
*.swp